#header{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    margin-bottom: 0.5rem;
    .menu{
        background-color: black;
        height: 80px;
        width: 100%;
        #check{
            display: none;
            @include horizontal__1{
                &:checked ~ul{
                    right: 0;
                }
            }
            @include tablet {
                &:checked ~ul{
                    right: 0;
                }
            }
            @include celular {
                &:checked ~ul{
                    right: 0;
                }
            }
        }
        .check-btn{
            color: yellow;
            font-size: 30px;
            line-height: 80px;
            float: right;
            margin-right: 20px;
            cursor: pointer;
            display: none;
            @include horizontal__1 {
                display: block;
            }
            @include tablet {
                display: block;
            }
            @include celular {
                display: block;
            }
        }
        .menu-enlace{
            text-decoration: none;
            color: yellow;
            position: absolute;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 40px;
            .logo{
                height: 50px;
                border-radius: 50px;
            }
        }
        ul{
            float: right;
            margin: 20px;
            @include horizontal__1 {
                margin: 0;
                position: fixed;
                width: 100%;
                height: 100vh;
                background: black;
                top: 77px;
                right: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 1002;
            }
            @include tablet {
                margin: 0;
                position: fixed;
                width: 100%;
                height: 100vh;
                background: black;
                top: 77px;
                right: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 1002;
            }
            @include celular {
                margin: 0;
                position: fixed;
                width: 100%;
                height: 100vh;
                background: black;
                top: 77px;
                right: -100%;
                text-align: center;
                transition: all .5s;
                z-index: 1002;
            }
            li{
                display: inline-block;
                line-height: 40px;
                padding: 0 20px;
                @include horizontal__1{
                    display: block;
                    margin: 30px 0;
                    line-height: 20px;
                }
                @include tablet {
                    display: block;
                    margin: 30px 0;
                    line-height: 20px;
                }
                @include celular {
                    display: block;
                    margin: 30px 0;
                    line-height: 20px;
                }
                .nav-enlace{
                    text-decoration: none;
                    font-family: sans-serif;
                    color: yellow;
                    @include horizontal__1{
                        font-size: 20px;
                        &:hover{
                            background-color: black;
                            color: greenyellow;
                        }
                    }
                    @include tablet {
                        font-size: 20px;
                        &:hover{
                            background-color: black;
                            color: greenyellow;
                        }
                    }
                    @include celular {
                        font-size: 20px;
                        &:hover{
                            background-color: black;
                            color: greenyellow;
                        }
                    }
                }
                .nav-enlace:hover {
                    color: greenyellow;
                }
            }
        }
    }
}

#footer{
    .footer{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 25px;
        @include celular {
            gap: 20px;
        }
        a:hover{
            transform: scale(1.7);
        }
        .facebok{
            text-decoration: none;
            color: $colorSecundario;
            font-size: 25px;
        }
    }
    div{
        .facebokk{
            color: $colorSecundario;
            font-size: 17px;
            text-align: center;
            @include celular {
                font-size: 15px;
            }
        }
    }
}