#header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        flex-direction: column;
    }
    @include celular {
        flex-direction: column;
    }
    .logoo{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $colorSecundario;
        img{
            height: 90px;
        }
        h2{
            @include celular {
                font-size: 18px;
            }
        }
    }
    .menuu{
        ul{
            li{
                display: inline;
                .nav-enlace{
                    display: inline-block;
                    text-decoration: none;
                    color: $colorSecundario;
                    padding-right: 10px;
                    box-sizing: border-box;
                    font-family: $letraPrimaria;
                    font-size: 20px;
                    @include tablet {
                        font-size: 20px;
                        margin-right: 5px;
                        box-sizing: border-box;
                    }
                    @include celular {
                        font-size: 13px;
                        box-sizing: border-box;
                    }
                }
                .nav-enlace:hover{
                    color: $colorhhover;
                }
            }
        }
    }
}
#footer{
    .footer{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 30px;
        font-size: 25px;
        @include celular {
            gap: 20px;
        }
        a:hover{
            transform: scale(1.7);
        }
        .facebok{
            text-decoration: none;
            color: $colorSecundario;
            font-size: 25px;
        }
    }
    div{
        .facebokk{
            color: $colorSecundario;
            font-size: 17px;
            text-align: center;
            @include celular {
                font-size: 15px;
            }
        }
    }
}