#intro{
    .inicio-a{
        font-family: $letraTitulo;
        color: $colorhhover;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        @include celular {
            font-size: 1.2rem;
        }
    }
    .un_fondo{
        display: grid;
        place-items: center;
        margin-bottom: 1.5rem;
        img{
            height: 500px;
        }
        @include horizontal__1 {
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        @include tablet {
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        @include celular{
            margin: 0 auto;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    .index-contenedor{
        margin: 40px 0 60px 0;
        display: flex;
        background-color: $colorCuadro;
        padding: 25px;
        @include celular {
            flex-direction: column;
        }
        .index-texto{
            h2{
                padding-left: 4.5rem;
                font-family: $letraTitulo;
                color: $colorhhover;
                @include celular {
                    padding-top: 10px;
                    padding-left: 2rem;
                    padding-bottom: 10px;
                }
            }
            p{
                padding-top: 3.5rem;
                padding-left: 4.5rem;
                color: white;
                font-family: $letraPrimaria;
                font-family: 25px;
            }
        }
    }
    .index-contenedor2 {
        margin-bottom: 15px;
        display: flex;
        background-color: $colorCuadro;
        padding: 25px;
        @include  celular {
            flex-direction: column;
        }
        .index-texto2{
            h2{
                padding-right: 3.5rem;
                font-family: $letraTitulo;
                color: $colorhhover;
            }
            p{
                padding-top: 3.5rem;
                color: white;
                font-family: sans-serif;
                font-family: 1.2rem;
                @include celular {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .inicio-c{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        color: yellowgreen;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .testimonios{
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
        text-align: center;
        @include celular {
            flex-direction: column;
        }
        .box{
            padding: 20px 20px;
            p{
                font-size: 20px;
                @include celular {
                    font-size: 15px;
                }
            }
            i{
                font-size: 20px;
                margin-top: 10px;
                color: gold;
            }
            .fecha-fecha{
                font-style: italic;
                margin-top: 10px;
                color: gray;
            }
            .name-user{
                margin-top: 10px;
            }
        }
    }
    .index-index-t{
        display: flex;
        justify-content: center;
        @include celular {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .reseñas {
            font-size: 20px;
            text-decoration: none;
            color: yellow;
            color: orange;
            padding: 10px 10px;
            @include celular {
                padding: 5px 5px;
                font-size: 16px;
            }

        }
        .reseñas:hover{
            color: yellowgreen;
        }
    }
    .bt-wpp{
        width: 55px;
        height: 55px;
        line-height: 55px;
        bottom: 30px;
        right: 35px;
        background-color: #0df053;
        color: white;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 1px 10px rgba(0, 255, 21, 0.664);
        position: fixed;
        z-index: 1000;
        @include tablet {
            bottom: 20px;
            right: 20px;
            box-shadow: none;
        }
        @include celular {
            bottom: 20px;
            right: 20px;
            box-shadow: none;
        }
    }
    .bt-wpp:hover {
        text-decoration: none;
        color: #0df053;
        background-color: white;
    }
    .inicio-d{
        margin-left: 15px;
        font-size: 30px;
        color: yellowgreen;
        padding: 10px 10px;
    }
    .details {
        list-style: none;
        width: 500px;
        background-color: $colorPrimario;
        border: solid $colorSecundario;
        border-radius: 5px;
        padding: .5rem;
        margin-left: 15px;
        font-family: $letraPrimaria;
        color: $colorSecundario;
        cursor: pointer;
        @include tablet {
            margin-bottom: 5px;
        }
        @include celular {
            width: 300px;
            margin-left: 5px;
            margin-bottom: 5px;
        }
        .summary{
            list-style: none;
            .summ{
                margin-top: 15px;
            }
        }
    }
}

