#intro{
    .contenedor-m {
        width: 90%;
        max-width: 900px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            margin-top: 20px;
            padding-bottom: 15px;
            box-sizing: border-box;
            width: 325px;
            justify-content: center;
        }
        @include celular {
            margin-top: 20px;
            padding-bottom: 15px;
            width: 325px;
            flex-wrap: wrap;
        }
        .tabl {
            width: 33%;
            height: 350px;
            margin: auto;
            border: $border;
            border-radius: 4px;
            padding: 60px;
            text-align: center;
            flex-grow: 1;
            color: $colorSecundario;
            @include celular {
                height: 250px;
            }
            h2{
                display: block;
                font-size: 30px;
                margin-bottom: 35px;
                @include tablet {
                    font-size: 20px;
                    text-align: center;
                }
            }
            i{
                font-size: 70px;
                margin-bottom: 35px;
            }
            h3{
                font-size: 30px;
                margin-bottom: 20px;
            }
            p{
                display: block;
                margin-bottom: 20px;
                @include tablet{
                    display: inline;
                }
            }
        }
        .tabl:hover{
            background-color: $colorPrimario;
            color: $colorSecundario;
            transition: 1s all;
            transform: scale(1.1);
            cursor: pointer;
            @include tablet {
                transform: none;
            }
            @include celular {
                transform: none;
            }
        }
    }
}