#intro{
    .servicios-title{
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 30px;
            color: $colorhhover;
            padding-left: 0.5rem;
        }
        h3{
            font-size: 17px;
            color: $colorSecundario;
            padding-left: 0.5rem;
        }
    }
    #carouselExampleCaptions-servicios1{
        width: 50vw;
        height: auto;
        margin: 0.5rem auto;
        @include tablet {
            width: 60vw;
            height: auto;
            margin: 0.5rem auto;
        }
        @include celular {
            width: 80%;
            margin: 0.5rem auto;
        }
        img{
            width: 510px;
            height: 510px;
            margin: 0.5rem auto;
            @include tablet {
                width: 100%;
                max-width: 510px;
                margin: 0.5rem auto;
            }
            @include celular {
              width: 100%;
              max-width: 410px;
              height: auto;
              margin: 0.5rem auto;
            }
        }   
    }
    #carouselExampleIndicators-horarios{
        width: 50vw;
        height: auto;
        margin: 0.5rem auto;
        @include tablet {
            width: 60vw;
            height: auto;
            margin: 0.5rem auto;
        }
        @include celular {
            width: 80%;
            margin: 0.5rem auto;
        }
        img{
            width: 510px;
            height: 510px;
            margin: 0.5rem auto;
            @include tablet {
                width: 100%;
                max-width: 510px;
                margin: 0.5rem auto;
            }
            @include celular {
              width: 100%;
              max-width: 410px;
              height: auto;
              margin: 0.5rem auto;
            }
        }     
    }        
}