#intro{
    .mus{
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 30px;
            color: $colorhhover;
            padding-left: .5rem;
        }
        h3{
            font-size: 17px;
            color: $colorSecundario;
            padding-left: .5rem;
        }
    }
    #carouselExampleCaptions{
        img{
            width: 510px;
            height: 510px;
            margin: 0 auto;
            @include celular {
                width: 410px;
                height: 410px;
                margin: 0 auto;
            }
        }
    }
    .mus2{
        h2{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 30px;
            color: $colorhhover;
            padding-left: .5rem;
        }
        h3{
            font-size: 17px;
            color: $colorSecundario;
            padding-left: .5rem;
        }
    }
    #carouselExampleIndicators {
        img{
            width: 510px;
            height: 510px;
            margin: 0 auto;
            @include celular {
                width: 410px;
                height: 410px;
                margin: 0 auto;
            }
        }
    }
}