
$colorPrimario: black;
$colorSecundario: yellow;
$colorhhover: yellowgreen;
$letraPrimaria: sans-serif;

$border: 2px solid yellow;
$celular: 570px;


*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: $colorPrimario;
}
/*@import "media";*/

@import "cabezapie";
@import "indice";
