@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-color: black;
}

#header {
  display: flex;
  min-height: 70px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  #header {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #header {
    flex-direction: column;
  }
}
@media (max-width: 570px) {
  #header {
    flex-direction: column;
  }
}
#header .logoo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: yellow;
}
#header .logoo img {
  height: 90px;
}
@media (max-width: 570px) {
  #header .logoo h2 {
    font-size: 18px;
  }
}
#header .menuu ul li {
  display: inline;
}
#header .menuu ul li .nav-enlace {
  display: inline-block;
  text-decoration: none;
  color: yellow;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
@media (max-width: 768px) {
  #header .menuu ul li .nav-enlace {
    font-size: 20px;
    margin-right: 5px;
    box-sizing: border-box;
  }
}
@media (max-width: 570px) {
  #header .menuu ul li .nav-enlace {
    padding-right: 5px;
    font-size: 13px;
    box-sizing: border-box;
  }
}
#header .menuu ul li .nav-enlace:hover {
  color: yellowgreen;
}

#footer .footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 25px;
}
@media (max-width: 570px) {
  #footer .footer {
    gap: 20px;
  }
}
#footer .footer a:hover {
  transform: scale(1.7);
}
#footer .footer .facebok {
  text-decoration: none;
  color: yellow;
  font-size: 25px;
}
#footer div .facebokk {
  color: yellow;
  font-size: 17px;
  text-align: center;
}
@media (max-width: 570px) {
  #footer div .facebokk {
    font-size: 15px;
  }
}

#intro .inicio-a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 570px) {
  #intro .inicio-a {
    font-size: 1.2rem;
  }
}
#intro .un_fondo {
  display: grid;
  place-items: center;
  margin-bottom: 1.5rem;
}
#intro .un_fondo img {
  height: 500px;
}
@media (max-width: 900px) {
  #intro .un_fondo {
    margin: 0 auto;
    text-align: center;
  }
  #intro .un_fondo img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  #intro .un_fondo {
    margin: 0 auto;
    text-align: center;
  }
  #intro .un_fondo img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 570px) {
  #intro .un_fondo {
    margin: 0 auto;
    text-align: center;
  }
  #intro .un_fondo img {
    max-width: 100%;
    height: auto;
  }
}
#intro .index-contenedor {
  margin: 40px 0 60px 0;
  display: flex;
  background-color: rgb(17, 16, 16);
  padding: 25px;
}
@media (max-width: 570px) {
  #intro .index-contenedor {
    flex-direction: column;
  }
}
#intro .index-contenedor .index-texto h2 {
  padding-left: 4.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
}
@media (max-width: 570px) {
  #intro .index-contenedor .index-texto h2 {
    padding-top: 10px;
    padding-left: 2rem;
    padding-bottom: 10px;
  }
}
#intro .index-contenedor .index-texto p {
  padding-top: 3.5rem;
  padding-left: 4.5rem;
  color: white;
  font-family: sans-serif;
  font-family: 25px;
}
#intro .index-contenedor2 {
  margin-bottom: 15px;
  display: flex;
  background-color: rgb(17, 16, 16);
  padding: 25px;
}
@media (max-width: 570px) {
  #intro .index-contenedor2 {
    flex-direction: column;
  }
}
#intro .index-contenedor2 .index-texto2 h2 {
  padding-right: 3.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
}
#intro .index-contenedor2 .index-texto2 p {
  padding-top: 3.5rem;
  color: white;
  font-family: sans-serif;
  font-family: 1.2rem;
}
@media (max-width: 570px) {
  #intro .index-contenedor2 .index-texto2 p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
#intro .inicio-c {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: yellowgreen;
  padding-top: 10px;
  padding-bottom: 10px;
}
#intro .testimonios {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  text-align: center;
}
@media (max-width: 570px) {
  #intro .testimonios {
    flex-direction: column;
  }
}
#intro .testimonios .box {
  padding: 20px 20px;
}
#intro .testimonios .box p {
  font-size: 20px;
}
@media (max-width: 570px) {
  #intro .testimonios .box p {
    font-size: 15px;
  }
}
#intro .testimonios .box i {
  font-size: 20px;
  margin-top: 10px;
  color: gold;
}
#intro .testimonios .box .fecha-fecha {
  font-style: italic;
  margin-top: 10px;
  color: gray;
}
#intro .testimonios .box .name-user {
  margin-top: 10px;
}
#intro .index-index-t {
  display: flex;
  justify-content: center;
}
@media (max-width: 570px) {
  #intro .index-index-t {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
#intro .index-index-t .reseñas {
  font-size: 20px;
  text-decoration: none;
  color: yellow;
  color: orange;
  padding: 10px 10px;
}
@media (max-width: 570px) {
  #intro .index-index-t .reseñas {
    padding: 5px 5px;
    font-size: 16px;
  }
}
#intro .index-index-t .reseñas:hover {
  color: yellowgreen;
}
#intro .bt-wpp {
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 35px;
  background-color: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 255, 21, 0.664);
  position: fixed;
  z-index: 1000;
}
@media (max-width: 768px) {
  #intro .bt-wpp {
    bottom: 20px;
    right: 20px;
    box-shadow: none;
  }
}
@media (max-width: 570px) {
  #intro .bt-wpp {
    bottom: 20px;
    right: 20px;
    box-shadow: none;
  }
}
#intro .bt-wpp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: white;
}
#intro .inicio-d {
  margin-left: 15px;
  font-size: 30px;
  color: yellowgreen;
  padding: 10px 10px;
}
#intro .details {
  list-style: none;
  width: 500px;
  background-color: black;
  border: solid yellow;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 15px;
  font-family: sans-serif;
  color: yellow;
  cursor: pointer;
}
@media (max-width: 768px) {
  #intro .details {
    margin-bottom: 5px;
  }
}
@media (max-width: 570px) {
  #intro .details {
    width: 300px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
#intro .details .summary {
  list-style: none;
}
#intro .details .summary .summ {
  margin-top: 15px;
}

#intro .sos1 {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
#intro .sos1 .ssp h2 {
  margin-left: 35px;
}
#intro .sos1 .ssp h2 a {
  text-decoration: none;
  color: yellow;
}
#intro .sos1 .ssp h2 a:hover {
  color: yellowgreen;
}
#intro .sos1 .ssp p {
  margin-left: 35px;
  color: white;
}
#intro .local-title h2 {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
  padding-left: 1.5rem;
}
@media (max-width: 768px) {
  #intro .local-title h2 {
    padding-left: 1rem;
  }
}
@media (max-width: 570px) {
  #intro .local-title h2 {
    padding-left: 0.5rem;
    font-size: 20px;
  }
}
#intro .local-title h3 {
  font-size: 17px;
  color: yellow;
  padding-left: 0.5rem;
}
@media (max-width: 570px) {
  #intro .local-title h3 {
    font-size: 13px;
  }
}
#intro #carouselExampleIndicators-arena1 {
  width: 50vw;
  height: auto;
  margin: 0.5rem auto;
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-arena1 {
    width: 80%;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleIndicators-arena1 img {
  width: 510px;
  height: 510px;
  margin: 0.5rem auto;
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-arena1 img {
    width: 100%;
    max-width: 410px;
    height: auto;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleIndicators-arena2 {
  width: 50vw;
  height: auto;
  margin: 0.5rem auto;
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-arena2 {
    width: 80%;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleIndicators-arena2 img {
  width: 510px;
  height: 510px;
  margin: 0.5rem auto;
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-arena2 img {
    width: 100%;
    max-width: 410px;
    height: auto;
    margin: 0.5rem auto;
  }
}

#intro .parrafos {
  margin-top: 1rem;
  color: white;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.7;
}
#intro .parrafos .dueños h2 {
  text-align: center;
  margin: 1rem 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
}
@media (max-width: 570px) {
  #intro .parrafos .dueños h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 30px;
  }
}
#intro .parrafos .dueños p {
  margin-left: 15px;
  font-family: sans-serif;
  font-size: 20px;
}
@media (max-width: 570px) {
  #intro .parrafos .dueños p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
  }
}
#intro .parrafos .dueños-img {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}
#intro .parrafos .dueños-img img {
  max-width: 100%;
  height: auto;
}
#intro .parrafos .arenas h2 {
  text-align: center;
  margin: 1rem 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
}
@media (max-width: 570px) {
  #intro .parrafos .arenas h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 30px;
    font-size: 30px;
  }
}
#intro .parrafos .arenas h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
  margin-left: 25px;
}
@media (max-width: 570px) {
  #intro .parrafos .arenas h3 {
    margin-left: 12px;
  }
}
#intro .parrafos .arenas p {
  margin-left: 15px;
  font-family: sans-serif;
  font-size: 20px;
}
@media (max-width: 570px) {
  #intro .parrafos .arenas p {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 300;
  }
}

#intro .servicios-title h2 {
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: yellowgreen;
  padding-left: 0.5rem;
}
@media (max-width: 570px) {
  #intro .servicios-title h2 {
    font-size: 19px;
  }
}
#intro .servicios-title h3 {
  font-size: 17px;
  color: yellow;
  padding-left: 0.5rem;
}
@media (max-width: 570px) {
  #intro .servicios-title h3 {
    font-size: 13px;
  }
}
#intro #carouselExampleCaptions-servicios1 {
  width: 50vw;
  height: auto;
  margin: 0.5rem auto;
}
@media (max-width: 768px) {
  #intro #carouselExampleCaptions-servicios1 {
    width: 60vw;
    height: auto;
    margin: 0.5rem auto;
  }
}
@media (max-width: 570px) {
  #intro #carouselExampleCaptions-servicios1 {
    width: 80%;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleCaptions-servicios1 img {
  width: 510px;
  height: 510px;
  margin: 0.5rem auto;
}
@media (max-width: 768px) {
  #intro #carouselExampleCaptions-servicios1 img {
    width: 100%;
    max-width: 510px;
    margin: 0.5rem auto;
  }
}
@media (max-width: 570px) {
  #intro #carouselExampleCaptions-servicios1 img {
    width: 100%;
    max-width: 410px;
    height: auto;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleIndicators-horarios {
  width: 50vw;
  height: auto;
  margin: 0.5rem auto;
}
@media (max-width: 768px) {
  #intro #carouselExampleIndicators-horarios {
    width: 60vw;
    height: auto;
    margin: 0.5rem auto;
  }
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-horarios {
    width: 80%;
    margin: 0.5rem auto;
  }
}
#intro #carouselExampleIndicators-horarios img {
  width: 510px;
  height: 510px;
  margin: 0.5rem auto;
}
@media (max-width: 768px) {
  #intro #carouselExampleIndicators-horarios img {
    width: 100%;
    max-width: 510px;
    margin: 0.5rem auto;
  }
}
@media (max-width: 570px) {
  #intro #carouselExampleIndicators-horarios img {
    width: 100%;
    max-width: 410px;
    height: auto;
    margin: 0.5rem auto;
  }
}

#intro .contenedor-m {
  width: 90%;
  max-width: 900px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  #intro .contenedor-m {
    margin-top: 0.5rem;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 325px;
    justify-content: center;
  }
}
@media (max-width: 570px) {
  #intro .contenedor-m {
    margin-top: 0.5rem;
    padding-bottom: 15px;
    width: 325px;
    box-sizing: border-box;
    flex-wrap: wrap;
  }
}
#intro .contenedor-m .tabl {
  width: 33%;
  height: 350px;
  margin: auto;
  border: 2px solid yellow;
  border-radius: 4px;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: yellow;
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl {
    height: 250px;
  }
}
#intro .contenedor-m .tabl h2 {
  display: block;
  font-size: 30px;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  #intro .contenedor-m .tabl h2 {
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
#intro .contenedor-m .tabl i {
  font-size: 70px;
  margin-bottom: 35px;
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl i {
    font-size: 50x;
    margin-bottom: 20px;
  }
}
#intro .contenedor-m .tabl h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl h3 {
    font-size: 25px;
  }
}
#intro .contenedor-m .tabl p {
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #intro .contenedor-m .tabl p {
    display: inline;
  }
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl p {
    font-size: 15px;
  }
}
#intro .contenedor-m .tabl:hover {
  background-color: black;
  color: yellow;
  transition: 1s all;
  transform: scale(1.1);
  cursor: pointer;
}
@media (max-width: 768px) {
  #intro .contenedor-m .tabl:hover {
    transform: none;
  }
}
@media (max-width: 570px) {
  #intro .contenedor-m .tabl:hover {
    transform: none;
  }
}

#intro .form {
  background-color: black;
  width: 400px;
  margin: 1rem auto;
  width: 40%;
  max-width: 360px;
  padding: 2.5em 3em;
  border-radius: 10px;
  border: solid yellow;
  text-align: center;
}
@media (max-width: 570px) {
  #intro .form .form {
    margin: 1rem auto;
  }
}
#intro .form .form__title {
  color: yellow;
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 570px) {
  #intro .form .form__title {
    font-size: 1.5rem;
  }
}
#intro .form .form__container {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
}
#intro .form .form__container .form__group {
  position: relative;
  color: grey;
}
#intro .form .form__container .form__group .form__input {
  width: 100%;
  background: none;
  color: grey;
  font-size: 1rem;
  padding: 0.5em 0.2em;
  border: none;
  /*outline: none;*/
  outline-color: yellow;
  border-bottom: 1px solid yellow;
  font-family: Arial, Helvetica, sans-serif;
}
#intro .form .form__container .form__group .form__label {
  margin-top: 0.5rem;
  color: rgba(255, 255, 0, 0.541);
  cursor: pointer;
}
#intro .form .form__container .form__submit {
  margin: 2rem 1;
  background-color: yellow;
  color: black;
  width: 100%;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 1em;
}
@media (max-width: 768px) {
  #intro .form .form__container .form__submit {
    margin: 1rem 0;
  }
}
@media (max-width: 570px) {
  #intro .form .form__container .form__submit {
    margin: 1rem 0;
  }
}/*# sourceMappingURL=main.css.map */