
$colorPrimario: black;
$colorSecundario: yellow;
$colorCuadro: rgb(17, 16, 16);
$colorhhover: yellowgreen;
$letraPrimaria: sans-serif;
$letraTitulo: Georgia, 'Times New Roman', Times, serif;

$border: 2px solid yellow;
$celular: 570px;
$tablet: 768px;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: $colorPrimario;
}
@import "media";

@import "cabezapie";
@import "indice";
@import "local";
@import "nosotros";
@import "servicios";
@import "membresia";
@import "ccontacto";