footer {
  .footer__div {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;

    .footer_links {
      &:hover {
        transform: scale(1.7);
        color: $hoverColor;
      }
      i:hover {
        transform: scale(1.7);
        color: $hoverColor;
      }
    }
  }
}