*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body {
    background-color: black;
}
#header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}
.logoo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: yellow;
}
.logoo img {
    height: 90px;
}
.menuu ul li{
    display: inline;
}
.nav-enlace {
    display: inline-block;
    text-decoration: none;
    color: yellow;
    padding-right: 9px;
    font-family: sans-serif;
    font-size: 20px;
}
.nav-enlace:hover {
    color: yellowgreen;
}
.footer{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 30px;
    transition: all ease 1.5s; /*hover a*/
}
.facebok{
    color: yellow;
    text-decoration: none;
    font-size: 25px;
}
.facebokk{
    color: yellow;
    font-size: 25px;
    text-align: center;
}
.footer a:hover{
    transform: scale(1.7);
    color: yellowgreen;
}
.inicio-a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: yellowgreen;
    display: grid;
    place-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inicio-b{
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
}
.index-contenedor{
    margin: 40px 0 60px 0;
    display: flex;
    background-color: rgb(17, 16, 16);
    padding: 25px;
}
.index-texto h2{
    padding-left: 4.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
}
.index-texto p{
    padding-top: 3.5rem;
    padding-left: 4.5rem;
    color: white;
    font-family: sans-serif;
    font-family: 25px;
}
.index-contenedor2 {
    margin-bottom: 15px;
    display: flex;
    background-color: rgb(17, 16, 16);
    padding: 25px;
}
.index-texto2 h2{
    padding-left: 4.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
}
.index-texto2 p{
    padding-top: 3.5rem;
    color: white;
    font-family: sans-serif;
    font-family: 1.2rem;
}
.bt-wpp{
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 35px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 255, 21, 0.664);
    position: fixed;
    z-index: 100px;
}
.bt-wpp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: white;
}
.details {
    list-style: none;
    width: 500px;
    background-color: black;
    border: solid yellow;
    border-radius: 5px;
    padding: .5rem;
    margin-left: 15px;
    font-family: sans-serif;
    color: yellow;
    cursor: pointer;
}
.summary{
    list-style: none;
}
.summ{
    margin-top: 15px;
}

/**loca*l*/
.sos1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.ssp h2{
    margin-left: 35px;
}
.ssp a{
    text-decoration: none;
    color: yellow;
}
a:hover{
    color: yellowgreen;
}
.ssp p{
    margin-left: 35px;
    color: white;
}
/**Sobre N**/
.home{
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
    flex: 1;
    min-width: 250px;    
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: grey;
    margin-bottom: 0px;
}
img {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.in-flex div{
    padding: 25px;
    background-color: grey;
    margin: 20px;
}
/**Servicios**/
.mus h2{
    font-family: sans-serif;
    font-weight: 30px;
    color: yellowgreen;
    padding-left: .5rem;
}
.mus h3{
    font-size: 20px;
    color: yellow;
    padding-left: .5rem;
}
/* Membresia */
.contenedor-m {
    width: 90%;
    max-width: 900px;
    margin: auto;
    /*height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabl {
    width: 33%;
    height: 350px;
    margin: auto;
    border: 3px solid yellow;
    border-radius: 4px;
    /*box-shadow: 0px 0px 5px 0px gold;*/
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: yellow;
}
.tabl h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}
.tabl i{
    font-size: 70px;
    margin-bottom: 35px;
}
.tabl h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.tabl p{
    display: block;
    margin-bottom: 20px;
}
.tabl:hover{
    background-color: black;
    color: yellow;
    transition: 1s all;
    transform: scale(1.1);
    cursor: pointer;
}

/**Contacto**/
.form{
    background-color: black;
    width: 400px;
    margin: auto;
    width: 40%;
    max-width: 360px;
    padding: 2.5em 3em;
    border-radius: 10px;
    border: solid yellow;
    text-align: center;
}
.form__title{
    color: yellow;
    font-family: sans-serif;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.form__container{
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}
.form__group{
    position: relative;
    color: grey;
}
.form__input{
    width: 100%;
    background: none;
    color: grey;
    font-size: 1rem;
    padding: .5em .2em;
    border: none;
    /*outline: none;*/
    outline-color: yellow;
    border-bottom: 1px solid yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.form__label{
    margin-top: 0.5rem;
    color: rgba(255, 255, 0, 0.541);
    cursor: pointer;
}
.form__submit{
    margin-top: 2.5rem;
    background-color: yellow;
    color: black;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 1em;
}
@media (max-width:570px){
    /*header*/
    #header{
        flex-direction: column;
        margin: auto;
    }
    .nav-enlace{
        font-size: 11px;

    }
    .footer{
        margin-top: 55px;
    }
    .inicio-a{
        font-size: 1.2rem;
    }
    .index-contenedor{
        flex-direction: column;
    }
    .index-contenedor h2{
        padding-top: 10px;
        padding-left: 2rem;
        padding-bottom: 10px;
    }
    .index-contenedor2{
        flex-direction: column;
    }
    .index-contenedor2 p{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .details{
        width: 300px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    /*membresia*/
    .contenedor-m{
        margin-top: 20px;
        padding-bottom: 15px;
        width: 325px;
        flex-wrap: wrap;
    }
    .tabl{
        height: 250px;
    }
    .tabl:hover{
        transform: none;
    }
    /*Contacto*/
    .form__title{
        font-size: 1.5rem;
    }
}