*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
}
.logo {
    color: yellow;
    text-decoration: none;
}
.titulo {
    font-family: 'Sigmar', cursive;
    color: yellow;
}

.menu ul li {
    display: inline-block;
}

.nav-enlace {
    display: inline-block;
    background-color: black;
    color: yellow;
    padding: 10px 30px;
    text-decoration: none;
}
.nav-enlace:hover {
    background-color: yellowgreen;
}
.footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.facebok{
    color: yellow;
    text-decoration: none;
    font-size: 25px;
}
.facebokk{
    color: yellow;
    font-size: 25px;
    text-align: center;
}
.facebok:hover{
    transform: scale(1.2em);
}
.inicio-a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellowgreen;
    margin-left: 1%;
}

.inicio-b{
    padding-left: 23%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.bt {
    background-color: orange;
    color: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

video {
    padding-left: 23%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.resee {
    background-color: grey;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.resee-text {
    font-size: 16px;
    margin-bottom: 10px;
}  
.resee-author {
    font-style: italic;
    color: black;
}
/**local**/

.local-img {
    padding-left: 36%;  
}
.locall{
    padding-left: 36%;
}

.locall a{
    display: inline-block;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
    padding: 10px 30px;
    text-decoration: none;   
}
.afuera1:hover{
    background-color: yellowgreen;
}

.contacto-local{
    color: yellow;
}
.contacto-local form{ 
    width: 400px;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 1px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: yellow;
}
.local-pr {
    width: 500px;
    background-color: white;
    padding: 1%;
    margin: 1px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
/**Sobre N**/
.home{
    display: flex;
    flex-wrap: wrap;
}
.in-flex{
    flex: 1;
    min-width: 250px;    
}
.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: red;
    margin-bottom: 0px;
}
img {
    max-width: 100%;
    height: auto;
}
.in-flex div{
    padding: 25px;
    background-color: grey;
    margin: 20px;
}
/**Servicios**/
.mus {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50px;
    color: yellow;
}
/* Membresia */
table {
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-color: yellow;
}

th {
    background-color: grey;
    color: black;
}
td th {
    border: 2px solid white;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.mem-pr {
    width: 500px;
    background-color: white;
    padding: 1%;
    margin: 1px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/**Contacto**/
.form{
    background-color: black;
    width: 400px;
    margin: auto;
    width: 40%;
    max-width: 360px;
    padding: 2.5em 3em;
    border-radius: 10px;
    border: solid yellow;
    text-align: center;
}
.form__title{
    color: yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.form__container{
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
}
.form__group{
    position: relative;
    color: grey;
}
.form__input{
    width: 100%;
    background: none;
    color: grey;
    font-size: 1rem;
    padding: .5em .2em;
    border: none;
    /*outline: none;*/
    outline-color: yellow;
    border-bottom: 1px solid yellow;
    font-family: Arial, Helvetica, sans-serif;
}
.form__label{
    margin-top: 0.5rem;
    color: rgba(255, 255, 0, 0.541);
    cursor: pointer;
}
.form__submit{
    margin-top: 2.5rem;
    background-color: yellow;
    color: black;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: 1em;
}