@media (max-width:360px ) {
    /*header-menu*/
    *{
        margin: 0%;
        padding: 0%;
    }
    .logo h1 {
        text-decoration: none;
        color: yellow;
        background-color: black;
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 10px;
    }
    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin-bottom: 5px;
    }
    .menu-itemss {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    } 
    .menu-itemss li {
        margin-bottom: 10px;
    } 
    .nav-enlace{
        text-decoration:none;
        color: yellow;
        background-color: black;
    }
    #menu-toggle:checked ~ .menu-itemss {
        display: block;
    }
    
    #intro {
        background-color: white;
        
    }
}